.navbar-logo {
  width: 80px;
  height: 80px;
}
.navbar-header > span {
  font-size: 2rem;
  color: #00ccff;
}
.navbar-header {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 8px;
}

.list {
  background-image: url(assets/react-logo-half.png);
  background-repeat: no-repeat;
  background-position: right 70%;
  list-style: square;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(38, 38, 40);
}
